/* googlefonts */
@import url(//fonts.googleapis.com/css?family=Codystar|Supermercado+One|Share:400,400italic);

/* fontawesome */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

html {
    font-family: 'Share', sans-serif;
    text-align: center;
    background: url('../img/escheresque_ste_@2X.png') #333;
    /* background: url('../img/XXXXXXX') rgba(0, 172, 226, 0.74); */
    /* background: url('../img/colourlovers-pattern-1243991-modernmusic-tweaked.gif') rgba(0, 172, 226, 0.74);  */
    /* background: url('../img/background-bluecircles.png') rgba(0, 172, 226, 0.74); */
    /* background: url('../img/background-purpcircles.png') #3D0E4C; */
    color: #979797;
    padding:0px;
    margin:0px;
    height:100%;
}

body {
    padding:0px;
    margin:0px;
    height:100%;
}

#container {
		min-height: 100%;
    position:relative;
    text-align: center;
    width:100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Supermercado One', cursive;
    color: rgba(0, 172, 226, 0.99);
    margin-bottom: -15px;
}

h1 {
    font-size: 75px;
    line-height: 95px;
    display: block;
	/*background:url('../img/effect_2.png');*/
    width: 100%;
    margin-top: 20px;
    rgba(0, 172, 226, 0.74);
}
.longshadow {color:rgba(66, 236, 250, 0.91);
  text-shadow: 0px 0px 0 #00CFEC,-1px 1px 0 #00CFEC,-2px 2px 0 #00CFEC,-3px 3px 0 #00CFEC,-4px 4px 0 #00CFEC,-5px 5px 0 #00CFEC,-6px 6px 0 #00CFEC,-7px 7px 0 #00CFEC,-8px 8px 0 #00CFEC,-9px 9px 0 #00CFEC,-10px 10px 0 #00CFEC,-11px 11px 0 #00CFEC,-12px 12px 0 #00CFEC;
}


#subtitle {
    font-size: 24px;
    font-family: Supermercado One;
    color: rgba(133, 119, 125, 0.69);
    line-height: 25px;
    margin-top: 0px;
    margin-left: 50px;
    letter-spacing: 7px;
}

.field {
    height: 30px;
    font-size: 25px;
    line-height: 25px;
    font-family: 'Supermercado One', cursive;
    color: #222;
}

input:focus {
    background-color: #ECF6FF;
}

#spinner {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-image: url('../img/spinner.gif');
    background-repeat: no-repeat;
}

#thequery button {
    width: 50px;
    color: #fff;
    background-color: rgba(0, 172, 226, 0.74);
    height: 35px;
    font-size: 25px;
    line-height: 25px;
    border-radius: 2px;
    box-shadow: 3px 5px 6px #181818;
    border: none;
}

button {
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    background-color: rgba(0, 172, 226, 0.74);
    height: 34px;
    font-size: 25px;
    line-height: 27px;
    border-radius: 2px;
    box-shadow: 3px 3px 6px #888;
    border: none;
    margin-bottom: 100px;
}

button:hover {
    background-color: rgba(0, 177, 247, 0.12)!important;
}

.inplay #thequery button {

	height: 29px;
	font-size: 22px;
	line-height: 25px;
	border-radius: 2px;
	box-shadow: 3px 5px 6px #181818;
	border: none;
}

#results {
    display: none;
    padding-bottom: 100px;
    padding-top:120px;
}
.pad {
	height:50px;
	width:100%;
	display:block;
}

.track {
    height: 128px;
    width: 128px;
    background-color: rgba(0, 0, 0, 0.72);
    display: block;
    margin: 8px;
    padding: 5px;
    font-family: tahoma,helvetica,ariel,sans-serif;
    font-size: 12px;
    background-size: 100% 100%;
    border-radius: 0px;
    background-repeat: no-repeat;
    text-align: left;
    color: #FFF;
    text-shadow: 0px 2px 2px #000;
}

.track-wrap {
    display: block;
    height: 128px;
    width: 128px;
    float: left;
    margin: 8px;
    padding: 5px;
    background-size: 0% 0%;
}

.track:hover {
    height: 112px;
    width: 112px;
    border: 8px solid #FF00AD;
    background-image: none!important;
    cursor:pointer;
}

.disclaimer {
    font-weight: 300;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    color: #777;
}

#tippytop {
    font-size: 14px;
   /* background-color: rgba(0, 177, 247, 0.12); */
    display: block;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 15px;
    font-family:helvetica;
}

.inplay #tippytop {
	z-index:5;
}

#logged-in {
	display:none;
}

#signin-panel {
    margin-top: 17px;
		margin-bottom: 41px;
    display: none;
}

#loginpanel {
    margin-top: 70px;
    display: none;
}

.inplay #logged-out {
	margin-top: 10px;
	margin-right: -12px;
}

a {
    color: #57D4EC;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 2px #fff;
}

button:active {
    margin-top: 2px;
}

.px20 {
    font-size: 18px!important;
    width: 250px;
}

#thequery {
    display: none;
    height: 50px;
}

#main {
    width: 100%;
    margin-top: -30px;
}
.inplay #main {
    background-color:rgba(0, 159, 209, 1.0);
    height:55px;
    text-align:left;
    position:fixed;
}

.inplay #main h1{
	font-size: 38px!important;
	float: left;
	margin-right: 20px;
	margin-left: 11px;
	color: #fff;
	margin-top: -26px;
}

.inplay #main #subtitle{
	letter-spacing:2px;
	color:#ddd;
	float: left;
	margin-right: 20px;
	margin-left: 17px;
	margin-top: -23px;
	font-size:16px;
}

.inplay #thequery {
	display: block;
	float: right;
	margin-top: -43px;
	margin-right:80px;
}
.inplay #query {
	height: 24px!important;
	font-size: 21px!important;
	line-height: 22px!important;
	color:rgba(0, 159, 209, 1.0);
}
.inplay #spinner {
	position: absolute;
	left: 55%;
	top: 100px;
}
#player-wrapper {
    display: none;
    right: -10%;
    width: 100%; 
    height: 110px;
    /*background-color:rgba(0, 172, 226,0.66); */
}
.inplay #player-wrapper {
	z-index:99999;
}

#player {
    display: inline-block;
    width: 97%;
    height: 120px;
    /*border: 1px solid rgba(0, 172, 226,0.76);*/
		background-color:rgba(0, 172, 226,0.66);
    box-shadow: 0px 5px 20px #000;
}

header {
    width: 100%;
    display: block;
    min-height: 30px;
}

.isPlaying {
    background-color: rgba(0, 172, 226, 1.00);
    height: 112px;
    width: 112px;
    border: 8px solid rgba(0, 172, 226, 0.74);
}

#spacer {
    height: 200px;
    width: 100%;
    display: block;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
}

footer #credits {
    font-family: 'Codystar', sans-serif;
    font-size: 15px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
   	height: 10px;
		padding-top: 2px;
    padding-bottom: 8px;
    background-color: rgba(0, 172, 226,0.76);
}



footer #pad {
    width: 100%;
    display: block;
    height: 50px;
}
#theuser img {
	height:25px;
	width:25px;
}
#user-dropdown {
	display:none;
}
#user-wrapper {
	text-align:right;
	margin-top:-3px;
	margin-right:-1px;
	padding:10px;
}
#user-wrapper span {
	display:block;
	border-bottom:solid 1px #555;
	margin-bottom:5px;
}
#user-wrapper a {
	display:block;
	width:100%;
}


#user-wrapper:hover #user-dropdown {
	display:block;
	background-color:rgba(0, 0, 0, 1.00);
	padding:10px;
	margin-top: -3px;
}
.inplay #user-wrapper img {
	height: 30px;
	width: 30px;
	margin-top: -5px;
	margin-right: -11px;
}

em#userimg {
    color: #0C8BB3;
    font-size: 28px;
    line-height: 28px;
}

#ratings {
  width:100%;
  display:none;
}
#ratings:hover {
  display:block;
}

.thumb {
	font-size:60px;
	position:absolute;
}
#thumbsdown {
	left:20px;
}
#ratings:hover #thumbsdown {
	color:red!important;
}

#thumbsup {
	right:20px;
}
#ratings:hover #thumbsup {
	color:green!important;
}

#leftpanel {padding-top:30px;width:20%;height:2000px;float:left;display:block;/*background-color:rgba(0, 159, 209, 1.0)*/;display:none;}
.inplay #leftpanel {display:block!important;}
#rightpanel {width:80%;float:right;display:block;}
.inplay #rightpanel {margin-top:40px;}

#savedsearches {

}

#savedsearches h3{
	font-family:helvetica;	
	width:100%;
	margin-bottom:5px;
	display:block;
	color:rgba(74, 195, 233, 0.82);
	padding:5px 0px;
	font-weight: 400;
}

.asearch {
	display: block;
	border-radius: 3px;
	border: 1px rgba(0, 0, 0, 0.18) solid;
	padding: 4px;
	padding-bottom: 3px;
	margin-bottom: 1px;
	width: 85%;
	margin-left: 8px;
	color: #E6E6E6;
	font-family: helvetica;
	font-size: 12px;
	background-color: rgba(2, 106, 139, 0.64);
	text-align: left;
	padding-left: 11px;
}
	
.asearch-wrap:hover a {
	background-color:rgba(0, 159, 209, 1.0);
	margin-left: 8px;
	padding-left: 18px;
}

.asearch-wrap em {
	color:rgb(255, 65, 65);
	float:left;
	margin-top:3px;
	margin-left:10px;
	display:none;
}

.asearch-wrap:hover em {
		display:block;
		cursor:pointer;
}

